/* gloval */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  color: var(--white);
  font-weight: 500;
  line-height: 1.5;
  padding: 16px 32px 16px 32px;
  background: var(--iris);
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocen);
}

.title {
  color: var(--nanyBlue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.subtitle {
  color: var(--nanyBlue);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}
/* root зміні */

:root {
  --navyBlue: rgba(46, 47, 66, 1);
  --ocean: rgba(64, 75, 191, 1);
  --iris: rgba(77, 90, 229, 1);
  --green: rgba(49, 208, 170, 1);
  --slate: rgba(67, 68, 85, 1);
  --lightSlate: rgba(142, 143, 153, 1);
  --cornflower: rgba(231, 233, 252, 1);
  --cloud: rgba(244, 244, 253, 1);
  --navyBlue-modal: rgba(46, 47, 66, 0.4);
  --gray: rgba(46, 47, 66, 0.7);
  --white: rgba(255, 255, 255, 1);
  --dairy: rgba(252, 252, 252, 1);
}

/* header section */

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.55;
  color: var(--navyBlue);
  text-transform: uppercase;
}

.logo span {
  color: #4d5ae5;
}

.navbar__link {
  color: var(--navyBlue);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--ocean);
}

.contacts__link {
  color: var(--slate);
  font-style: normal;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--ocean);
}

/* hero section */

.hero {
  background-color: var(--navyBlue);
}

.maintitle {
  color: var(--white, rgba(255, 255, 255, 1));
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
}

/* features section */

/* team section */

.team {
  background: var(--cloud);
}

.team__item {
  background: var(--white);
}

.team__subtitle {
  text-align: center;
}

.team__text {
  text-align: center;
}

.team__photo {
  width: 264px;
  height: 260px;
}

/* portfolio section */

/* footer */

.footer {
  background-color: var(--navyBlue);
}

.footer__logo {
  color: var(--cloud);
}

.footer__logo span {
  color: var(--iris);
}

.footer__text {
  color: var(--cloud);
}
