/* gloval */

/* --------------------- ROOT VARIABLES --------------------- */
:root {
  --navyBlue: #2e2f42;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --green: #31d0aa;
  --slate: #434455;
  --lightSlate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyBlue-modal: rgba(46, 47, 66, 0.4);
  --gray: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* --------------------- BASE STYLES --------------------- */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* --------------------- HEADER --------------------- */
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navyBlue);
}

.logo span {
  color: var(--iris);
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: auto;
  /* gap: 76px; */
}

.navbar__list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.navbar__link {
  position: relative;
  display: inline-block;
  color: var(--navyBlue);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar__link--current {
  color: var(--ocean);
}

.navbar__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--ocean);
}
/* --------------------- CONTACTS --------------------- */

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts__list {
  display: flex;
  gap: 40px;
}

.contacts__link {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--ocean);
}

/* --------------------- HERO --------------------- */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/back.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-color: rgba(46, 47, 66, 0.7); */
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.maintitle {
  max-width: 496px;
  margin: 0 auto;
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.btn {
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/* --------------------- FEATURES --------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__item {
  width: calc((100% - 72px) / 4);
}

.features__link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--navyBlue);
  background-color: var(--cloud);
  border: 1px solid var(--lightSlate);
  border-radius: 4px;
  min-width: 264px;
  height: 112px;
  margin-bottom: 8px;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.features__link:hover,
.features__link:focus {
  background-color: var(--iris);
  fill: var(--white);
}

.features__list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.features__subtitle {
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  color: var(--navyBlue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}

/* --------------------- TEAM --------------------- */
.team {
  background-color: var(--cloud);
}

.team__item {
  background: var(--white);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team__content {
  padding: 32px 16px;
}

.team__list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.team li {
  background-color: #fff;
}

.team__title {
  padding-bottom: 72px;
  text-align: center;
  color: var(--navyBlue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team__subtitle {
  margin-bottom: 8px;
}

.team__text {
  margin: 0;
}

.team__socials {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
  padding: 0;
  list-style: none;
}

.team__social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: var(--iris);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover,
.team__social-link:focus {
  background-color: #31d0aa;
}

.team__social-icon {
  fill: #f4f4fd;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team__social-link:hover .team__social-icon,
.team__social-link:focus .team__social-icon {
  fill: var(--white);
}
/* --------------------- PORTFOLIO --------------------- */

.portfolio__title {
  text-align: center;
  margin-bottom: 72px;
}

.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio__item {
  width: calc((100% - 48px) / 3);
  background-color: #ffffff;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  padding: 40px 32px;

  background-color: rgba(77, 90, 229, 0.9);
  color: var(--cloud);

  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

/* --------------------- FOOTER --------------------- */
.footer {
  background-color: var(--navyBlue);
  padding: 100px 0;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}

.footer__social {
  margin-left: 120px;
}

.footer__logo {
  color: var(--cloud);
}

.footer__logo span {
  color: var(--iris);
}

.footer__text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
