/* gloval */

/* --------------------- ROOT VARIABLES --------------------- */
:root {
  --navyBlue: #2e2f42;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --green: #31d0aa;
  --slate: #434455;
  --lightSlate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyBlue-modal: rgba(46, 47, 66, 0.4);
  --gray: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
} 

/* --------------------- BASE STYLES --------------------- */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* --------------------- HEADER --------------------- */
.header {
  padding: 20px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navyBlue);
}

.logo span {
  color: var(--iris);
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.navbar__link {
  color: var(--navyBlue);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 40px;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.contacts__list {
  display: flex;
}

.contacts__link {
  padding: 40px;
}

/* --------------------- HERO --------------------- */
.hero {
  background-color: var(--navyBlue);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 190px;
}

.maintitle {
  max-width: 496px;
  margin: 0 auto;
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 32px;

}

.btn {
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/* --------------------- FEATURES --------------------- */

.features {
  padding: 120px;
}

.features__list{
  display: flex;
}

.features__subtitle{
  padding-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  color: var(--navyBlue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}

/* --------------------- TEAM --------------------- */
.team {
  background-color: var(--cloud);
  padding: 120px;
}

.team__list {
  display: flex;
}

.team__block {
  padding: 24px;
}

.team li {
  background-color: #fff;
}

.team__title {
  padding-bottom: 72px;
  text-align: center;
  color: var(--navyBlue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}


/* --------------------- PORTFOLIO --------------------- */
.portfolio__title {
  font-size: 36px;
  text-align: center;
  color: var(--navyBlue);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyBlue);
}

.portfolio__category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* --------------------- CONTACTS --------------------- */
.contacts__link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--ocean);
}

/* --------------------- FOOTER --------------------- */
.footer {
  background-color: var(--navyBlue);
  padding: 100px 0;
}

.footer__logo {
  color: var(--cloud);
}

.footer__logo span {
  color: var(--iris);
}

.footer__text {
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
