/* gloval */

/* --------------------- ROOT VARIABLES --------------------- */
:root {
  --navyBlue: #2e2f42;
  --ocean: #404bbf;
  --iris: #4d5ae5;
  --green: #31d0aa;
  --slate: #434455;
  --lightSlate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navyBlue-modal: rgba(46, 47, 66, 0.4);
  --gray: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* --------------------- BASE STYLES --------------------- */
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

/* --------------------- HEADER --------------------- */
.header {
  border-bottom: 1px solid var(--cornflower);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navyBlue);
}

.logo span {
  color: var(--iris);
}

.navbar {
  display: flex;
  align-items: center;
  margin-right: auto;
  /* gap: 76px; */
}

.navbar__list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.navbar__link {
  color: var(--navyBlue);
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0px;
}

.navbar__link:hover,
.navbar__link:focus {
  color: var(--ocean);
}
/* --------------------- CONTACTS --------------------- */

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts__list {
  display: flex;
  gap: 40px;
}

.contacts__link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-style: normal;
  color: var(--slate);
  padding: 24px 0;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--ocean);
}

/* --------------------- HERO --------------------- */
.hero {
  background-color: var(--navyBlue);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.maintitle {
  max-width: 496px;
  margin: 0 auto;
  color: var(--white);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

.btn {
  background-color: var(--iris);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  letter-spacing: 0.04em;
}

.btn:hover,
.btn:focus {
  background-color: var(--ocean);
}

/* --------------------- FEATURES --------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features__item {
  width: 264px;
}

.features__list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.features__subtitle {
  padding-bottom: 8px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  color: var(--navyBlue);
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
}

/* --------------------- TEAM --------------------- */
.team {
  background-color: var(--cloud);
}

.team__item {
  background: var(--white);
  border-radius: 0 0 4px 4px;
  width: 264px;
}

.team__content {
  padding: 32px 16px;
}

.team__list {
  display: flex;
  gap: 24px;
  text-align: center;
}

.team li {
  background-color: #fff;
}

.team__title {
  padding-bottom: 72px;
  text-align: center;
  color: var(--navyBlue);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.team__subtitle {
  padding: 32px 0px 8px 0px;
}

.team__text {
  padding-bottom: 32px;
}

/* --------------------- PORTFOLIO --------------------- */

.portfolio {
  padding: 120px 0;
}

.portfolio__title {
  padding: 120px 0 72px;
}

.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio__item {
  width: 360px;
  border-bottom: 1px solid var(--cornflower);
}

.portfolio__content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio__title {
  margin-bottom: 72px;
  font-size: 36px;
  text-align: center;
  color: var(--navyBlue);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.portfolio__name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyBlue);
}

.portfolio__category {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

/* --------------------- FOOTER --------------------- */
.footer {
  background-color: var(--navyBlue);
  padding: 100px 0;
}

.footer__logo {
  color: var(--cloud);
}

.footer__logo span {
  color: var(--iris);
}

.footer__text {
  max-width: 264px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
}
